a {
    text-decoration: none;
}

.home {
    display: flex;
    color: red;

    >a {
        color: green($color: #000000);
        background-color: purple;
    }

    img {
        border-radius: 50%;
    }
}


div.header {
    font-size: 1rem;
}