main {
    background-color: aqua;
}

a {
    text-decoration: none;
}

span {
    border: 2px solid red;
    width: 450px;
    display: block;
}

.home {
    display: flex;
    color: red;

    a {
        color: green($color: #000000);
        background-color: purple;
        
        & span {
            background-color: yellow;
            border: 5px solid #000000;
            border-radius: 25px;
        }
    }

    img {
        border-radius: 50%;
        display: block;
        object-fit: cover;
        width: 450px;
        height: 300px;

        @media screen and (min-width: 768px) {
            width: 450px;
            height: 300px;
            border-radius: 0;

            @media screen and (max-width: 1024px) {

                border-radius: 75%;
            }
        }

    }
}


div.header {
    font-size: 1rem;
}